@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* GENERAL STYLES
----------------
----------------- */
* {
  padding: 0;
  margin: 0;
}

html,
body #root,
.app,
.content {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif !important;
}

.app {
  display: flex;
  position: relative;
}

.content {
  overflow: visible;
}
::-webkit-scrollbar {
  width: 10px;
}

.cursor,
.table-cell,
img {
  cursor: url("../src/assets/icons/cursor.svg"), auto;
}

.table-row:hover {
  background-color: #7c7c7c0e;
}

/* SIDEBAR MENU ITEMS 
----------------------
----------------------*/
.menu-item {
  display: flex;
  align-items: center;
  transition: all 300ms ease;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0px;
  color: #474f54;
  cursor: url("../src/assets/icons/cursor.svg"), auto;
}

.menu-item:hover {
  cursor: url("../src/assets/icons/cursor.svg");
  background-color: #474f541b;
  border-radius: 8px;
}

.menu-item:last-child {
  position: absolute;
  bottom: 0;
  width: 220px;
  background-color: #fafafa;
}
.active {
  background-color: #f95d44;
  border-radius: 8px;
  color: white;
}

.menu-item.active:hover {
  background-color: #f95d44;
}

/* DASHBOARD TOP CARDS 
----------------------
----------------------*/
.card:hover {
  border: 2px solid #1db385;
  cursor: url("../src/assets/icons/cursor.svg"), auto;
}

.card:hover .icon {
  color: #1db385;
}
.card:hover .p {
  color: black;
}
.card .icon {
  font-size: 50px;
}

/* GRAPH CHART TOOLTIP 
----------------------
 --------------------- */
.apexcharts-tooltip.apexcharts-theme-light {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);
  height: 108px;
  width: 133px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apexcharts-tooltip * {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
}

.this-month {
  font-size: 10px;
}

.tooltip-img {
  height: 61px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  height: 100px;
}
.data p,
.data h1 {
  text-align: left;
  padding: 0px;
  margin: 0;
}
.data p {
  color: #a0aec0;
}

/* 🤣 HOPE I MAKE IT TO THE NEXT ROUND 🤞 😇  */
